{% extends 'base.html.twig' %}




{% block content %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="{{ path ('index') }}">Home</a> 
        <span class="mx-2 mb-0">/</span> <strong class="text-black">Logout</strong>
      </div>
    </div>
  </div>
</div>
<div class="site-section border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16">
          <figure>
            <img src="{{ asset ('assets/images/online.jpg') }}"  alt="Image placeholder" class="img-fluid rounded">
          </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="site-section-heading pt-3 mb-4">
            <div class="text-black"><h2>Thank you for your visit !</h2></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}