{% extends 'admin/base.html.twig' %}
{% block mainadmin %}

<h2>My profile Delete <small><a onclick="return confirm('Are you sure?');" href="{{path('delete_account')}}">delete account</a></small></h2>
<p class="text-left">My plan - Pro. <a onclick="return confirm('Are you sure? This can not be undone. Remember also to cancel payment in your PayPal account.');"
        href="#">cancel plan</a></p>



{% endblock %}
