{% extends 'base.html.twig' %}

{% block content %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="{{ path ('index') }}">Home</a> 
        <span class="mx-2 mb-0">/</span> <strong class="text-black">Languages Courses Available</strong>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            
            <div class="row mb-5">
              {{ include('display/includes/_courses.html.twig', {'courses' : courses}) }}
            </div> 
          </div>

           <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
            {{ include('display/includes/_filter.html.twig' )}}
          </div>
          <div class="mt-4" js-filter-pagination>
            {{ knp_pagination_render(courses) }}
            </div>

        </div>
        
    
      </div>
    </div>
    
 {% endblock %}  

