{% extends 'base.html.twig' %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        {% if courses %}
        <h1 class="jumbotron-heading">Search results</h1>
        {{ include('display/includes/_sort.html.twig',{'query':query}) }}
        {% else %}
        <h1 class="jumbotron-heading">No results were found</h1>
        {% endif %}
    </div>
</section>
{% if courses %}
{{ include('display/includes/_courses.html.twig', {'courses' : courses}) }}
{{ knp_pagination_render(courses) }}
{% endif %}
{% endblock %}
